<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="js-country-info-title">Country info</title>
    <!-- <link rel="stylesheet" type="text/css" href="../css/normalize.css"><link rel="stylesheet" type="text/css" href="../css/main.css"> -->
    <link rel="stylesheet" type="text/css" href="../css/main.min.css">
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <div class="site-header__wrapper">
          <a class="logo" href="../index.html">
            <img class="logo__img" src="../images/logo.svg" width="233" height="19" alt="countries's logo">
          </a>
          <button type="button" class="site-header__btn">Dark Mode</button>
        </div>
      </div>
    </header>
    <main class="site-body">
      <section class="country-info">
        <h2 class="visually-hidden">Countries info</h2>
        <div class="container">
          <div class="country-info__wrapper js-country-info-wrapper"></div>
        </div>
      </section>
    </main>
    <script src="../js/country.js"></script>
  </body>
</html>